.btn.btn-block.btn-lg{
	padding: 0;
}

.panel-title ul li span{
	padding-right: 10%;
}

/*
@media (max-width: 767px) {

.modal-wrapper {
    position: absolute;
    top: 50px;
    left: 20%;
    z-index: 1050;
    width: 70%;
    margin-left: 0px;
    padding-bottom: 80px;
    overflow: scroll;
}

}

@media ( max-width : 480px) {

.modal-wrapper {
    position: absolute;
    top: 50px;
    left: 10%;
    z-index: 1050;
    width: 90%;
    margin-left: 0px;
    padding-bottom: 80px;
    overflow: scroll;
}*/

.modal-body{
    overflow-y: scroll;
    
}

$custom-file-text: (
  placeholder: (
    en: "Choose file...",
    es: "Seleccionar archivo..."
  ),
  button-label: (
    en: "Browse",
    es: "Navegar"
  )
);